# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [15]:
tes  = ["mom", "egypt", "game", "code", "music"]

## 2.	Print out those variables by using a for loop

In [18]:
for words in tes:
  print(words)

mom
egypt
game
code
music

## 3.	Modify your for loop to add a message to your for loop.

In [23]:
print(words.title() + " these are favorate words ")

Music these are favorate words

## 4.	Use a for loop to print even numbers from 1-20.

In [28]:
for even in range (2,21,2):
  print(even)

2
4
6
8
10
12
14
16
18
20



```
# This is formatted as code
```

## 5.	Sort your list in alphabetic order.

In [39]:
tes = ["mom", "egypt", "game", "code", "music"]
tes.sort()
print(tes)

['code', 'egypt', 'game', 'mom', 'music']

## 6.	Print out the first three elements of your list.

In [41]:
print(tes[0:3])

['code', 'egypt', 'game']

## 7.	Create a loop to print the last 2 elements of your list.

In [43]:
print(tes[2:])

['game', 'mom', 'music']